.comic-image-div {
  margin: 0 auto;
}

.comic-div {
  text-align: center;
  padding-top: 30px;
}

.spacer {
  min-height: 20px;
}

.view-img-div {
  height: 90px;
}

body {
  background-color: #FFF;
}

.last-page {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20%;
  bottom: 0px;
}

.next-page {
  z-index: 3;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20%;
  bottom: 0px;
}

.top-bar {
  z-index: 4;
  position: absolute;
  top: 0px;
  right: 30vw;
  left: 30vw;
  height: 20vh;
}

.splash-page-bg {
  background-image: url("imgs/background.jpg");
  background-position: center;
}

.signin-container-bg {
  background-color: rgb(232, 232, 232);
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.inner-shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.comic-image {
  border: 1px solid #CCC;
}

.comic-image:hover {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.opacitywk {
	opacity: 1;
         background-color: black;
	}
.opacitywk:hover {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
	}


  .user-image-circular {
  	width: 30px;
  	height: 30px;
  	border-radius: 15px;
  	-webkit-border-radius: 15px;
  	-moz-border-radius: 15px;
  	background: url("imgs/usrlogo.jpg") no-repeat;
  	}
