<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - Kahl</title>
    {% else %}
    <title>Kahl</title>
    {% endif %}
    <script src="{{url_for('static', filename='jscript/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap-theme.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />

  </head>
  <body>

    <!---header, straight from the bootstrap examples -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">KAHL</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="/upload">Upload</a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><div class="user-image-circular" style="margin-top:10px;" /></li>
            <li><a href="#"></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!--- comic book list. -->





    <div class="container">
    {% block content %}{% endblock %}
    </div>
    <script>
    $( "#comicIndex" ).load( "/comiclist" );
    window.setInterval(function() {
      $( "#comicIndex" ).load( "/comiclist" );
    }, 10000);
    </script>
  </body>
</html>
