{% extends "base.html" %}
{% block content %}
<div class="row">

      {% for comic in comiclist %}

      <div class="col-md-4 comic-div">
        <div class="spacer"></div>
        <div class="comic-image-div">
          <a href="/viewcomic/{{ comic[0] }}/page/1"><img src="{{url_for('static', filename='thumbs/'+comic[0]+'_thumb.jpg')}}" /></a>
        </div>
        <a href="/viewcomic/{{ comic[0] }}/page/1">{{ comic[1] }}</a>
        <br />

      </div>
      {% endfor %}

</div>
{% endblock %}
