

      {% for comic in comiclist %}

        <div class="col-md-3 comic-div">
          <div class="">
            <a href="/viewcomic/{{ comic.cb_hash }}/page/1?size=wide" class=""><img src="{{url_for('static', filename='thumbs/'+comic.cb_hash+'_thumb.jpg')}}" class="comic-image opacitywk"/></a>
            <div class="caption">
              <a href="/viewcomic/{{ comic.cb_hash }}/page/1">{{ comic.title }}</a>
              <br />
              <a href="/detail/{{ comic.id }}">Details</a>
              {% for read in readlist %}
                {% if read.cb_hash == comic.cb_hash %}
                <a href="/viewcomic/{{ comic.cb_hash }}/page/{{ read.page_num }}?size=wide">Resume</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <br />
        </div>


      {% endfor %}
