<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - ComicLib</title>
    {% else %}
    <title>ComicLib</title>
    {% endif %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Using bootstrap for now. -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  </head>
  <body>
    <div class="container">
      <div class="view-img-div">
      <img src="{{url_for('static', filename='comics/processed/'+comic_key+'/'+page_file)}}" class="center-block" style="max-width:100vw;"  />
      <br />
    </div>
  </div>
  <div class="last-page" onclick="location.href='/viewcomic/{{ comic_key }}/page/{{ page_number+1 }}';"></div>
  <div class="next-page" onclick="location.href='/viewcomic/{% if page_number > 0 %}{{ comic_key }}/page/{{ page_number-1 }}{% endif %}';"></div>
  </body>
</html>
